<div class="" style="margin-top: 12rem;">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
    Ajouter un livre
  </button>
</div>


<style>
  table {}
</style>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Auteur</th>
      <th scope="col">Edition</th>
      <th scope="col">Categorie</th>
      <th scope="col" class="text-end">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td class="text-end">
        <a href="#" type="buttton" class="btn btn-light btn-small"> <i class="bi bi-eye"></i>View</a>
        <button type="button" data-bs-toggle="modal" data-bs-target="#editModal"> <i
            class="bi bi-pencil"></i>Edit</button>
        <button type="button" data-bs-toggle="modal" data-bs-target="#deleteModal"><i
            class="bi bi-person-x"></i>Delete</button>
      </td>
    </tr>

    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td class="text-end">
        <a href="#" type="buttton" class="btn btn-light btn-small"> <i class="bi bi-eye"></i>View</a>
        <button type="button" data-bs-toggle="modal" data-bs-target="#editModal"> <i
            class="bi bi-pencil"></i>Edit</button>
        <button type="button" data-bs-toggle="modal" data-bs-target="#deleteModal"><i
            class="bi bi-person-x"></i>Delete</button>
      </td>
    </tr>

    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td class="text-end">
        <a href="#" type="buttton" class="btn btn-light btn-small"> <i class="bi bi-eye"></i>View</a>
        <button type="button" data-bs-toggle="modal" data-bs-target="#editModal"> <i
            class="bi bi-pencil"></i>Edit</button>
        <button type="button" data-bs-toggle="modal" data-bs-target="#deleteModal"><i
            class="bi bi-person-x"></i>Delete</button>
      </td>

    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td class="text-end">
        <a href="#" type="buttton" class="btn btn-light btn-small"> <i class="bi bi-eye"></i>View</a>
        <button type="button" data-bs-toggle="modal" data-bs-target="#editModal"> <i
            class="bi bi-pencil"></i>Edit</button>
        <button type="button" data-bs-toggle="modal" data-bs-target="#deleteModal"><i
            class="bi bi-person-x"></i>Delete</button>
      </td>
    </tr>
    {{!-- <a href="#" type="buttton" class="btn btn-light btn-small"> <i class="bi bi-person-x"></i>Delete</a> --}}
    </td>
    </tr>

  </tbody>
</table>

{{!-- Add book modal --}}
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Add book</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="idbook" class="form-label">Id</label>
          <input type="text" class="form-control" id="idbook" placeholder="Id livre" name="idbook">
        </div>

        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" placeholder="Title livre" name="title">
        </div>

        <div class="mb-3">
          <label for="author" class="form-label">Auteur</label>
          <input type="text" class="form-control" id="author" placeholder="Auteur" name="Auteur">
        </div>
        <div class="mb-3">
          <label for="edition" class="form-label">Edition</label>
          <input type="text" class="form-control" id="author" placeholder="Edition" name="Edition">
        </div>

        <div class="mb-3">
          <label for="date" class="form-label">Date</label>
          <div class="input-group date" id="datepickeradd">
            <input type="text" class="form-control">
            <span class="input-group-append">
              <span class="input-group-text bg-white d-block">
                <i class="fa fa-calendar"></i>
              </span>
            </span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary">Enregistrer</button>
      </div>
    </div>
  </div>
</div>


<!-- Edit book modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit book</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="idbook" class="form-label">Id</label>
          <input type="text" class="form-control" id="idbook" placeholder="Id livre" name="idbook">
        </div>

        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" placeholder="Title livre" name="title">
        </div>

        <div class="mb-3">
          <label for="author" class="form-label">Auteur</label>
          <input type="text" class="form-control" id="author" placeholder="Auteur" name="Auteur">
        </div>
        <div class="mb-3">
          <label for="edition" class="form-label">Edition</label>
          <input type="text" class="form-control" id="author" placeholder="Edition" name="Edition">
        </div>

        <div class="mb-3">
          <label for="date" class="form-label">Date</label>
          <div class="input-group date" id="datepicker">
            <input type="text" class="form-control">
            <span class="input-group-append">
              <span class="input-group-text bg-white d-block">
                <i class="fa fa-calendar"></i>
              </span>
            </span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary">Mettre a jour</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete book modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Edit book</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="idbook" class="form-label">Tu veux vraiment supprimer</label>
        </div>
        <div>
      </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            <button type="button" class="btn btn-primary">Supprimer</button>
          </div>
    </div>

  </div>
  </div>
</div>